<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%- include('partials/head') %>

    <title><%= title %></title>
</head>
<body>

<%- include('partials/navigation') %>

<div class="container">
    <div class="title">
        <p>Registro Nuevo</p>
    </div>
    <div class="row">
        <div class="col-2">
            <img src="src/public/assets/blank-profile-picture-g258846214_640.png" alt="profile_pic"
                 style="height: 125px; margin: 18px">
        </div>
        <div class="col-9">
            <form action="/adduser" method="POST">
                <div class="row row-1">
                    <div class="col-4">
                        <label for="txtNombre">Nombre Completo</label>
                    </div>
                    <div class="col-8">
                        <input type="text" name="txtNombre" id="txtNombre" class="form-control">
                    </div>
                </div>
                <div class="row row-2">
                    <div class="col-4">
                        <label for="txtDescripcion">Descripción</label>
                    </div>
                    <div class="col-8">
                        <input type="text" name="txtDescripcion" id="txtDescripcion" class="form-control">
                    </div>
                </div>
                <div class="row row-3">
                    <div class="col-4">
                        <label for="txtEmpresa">Empresa</label>
                    </div>
                    <div class="col-8">
                        <select name="txtEmpresa" id="txtEmpresa" class="form-select">
                            <option value="0">Seleccione una empresa</option>
                            <option value="1">Empresa 1</option>
                            <option value="2">Empresa 2</option>
                            <option value="3">Empresa 3</option>
                            <option value="4">Empresa 4</option>
                            <option value="5">Empresa 5</option>
                        </select>
                    </div>
                </div>
                <div class="row row-4">
                    <div class="col-4">
                        <label for="txtIne">INE</label>
                    </div>
                    <div class="col-8">
                        <input type="text" name="txtIne" id="txtIne" class="form-control">
                    </div>
                </div>
                <div class="row row-5">
                    <div class="col-4">
                        <label for="txtCurp">CURP</label>
                    </div>
                    <div class="col-8">
                        <input type="text" name="txtCurp" id="txtCurp" class="form-control">
                    </div>
                </div>
                <div class="row row-20">
                    <div class="col-4">
                        <label for="txtRfc">RFC</label>
                    </div>
                    <div class="col-8">
                        <input type="text" name="txtRfc" id="txtRfc" class="form-control">
                    </div>
                </div>
                <div class="row row-6">
                    <div class="col-4">
                        <label for="txtNss">Número Seguro Social</label>
                    </div>
                    <div class="col-8">
                        <input type="text" name="txtNss" id="txtNss" class="form-control">
                    </div>
                </div>
                <div class="row row-7">
                    <div class="col-4">
                        <label for="txtTipoSangre">Tipo Sangre</label>
                    </div>
                    <div class="col-8">
                        <input type="text" name="txtTipoSangre" id="txtTipoSangre" class="form-control">
                    </div>
                </div>
                <div class="row row-8">
                    <div class="col-4">
                        <label for="txtLicenciaManejo">Licencia Manejo</label>
                    </div>
                    <div class="col-8">
                        <input type="text" name="txtLicenciaManejo" id="txtLicenciaManejo" class="form-control">
                    </div>
                </div>
                <div class="row row-9">
                    <div class="col-4">
                        <label for="txtTipoLicencia">Tipo Licencia</label>
                    </div>
                    <div class="col-8">
                        <input type="text" name="txtTipoLicencia" id="txtTipoLicencia" class="form-control">
                    </div>
                </div>
                <div class="row row-9">
                    <div class="col-4">
                        <label for="txtVigenciaLicencia">Vigencia Licencia</label>
                    </div>
                    <div class="col-8">
                        <input type="text" name="txtVigenciaLicencia" id="txtVigenciaLicencia" class="form-control">
                    </div>
                </div>
                <div class="row row-10">
                    <div class="col-4">
                        <label for="txtTelefono">Telefono</label>
                    </div>
                    <div class="col-8">
                        <input type="text" name="txtTelefono" id="txtTelefono" class="form-control">
                    </div>
                </div>
                <!--
                <div class="row row-11">
                    <div class="col-4">
                        <label for="fotoChofer">Foto Chofer</label>
                    </div>
                    <div class="col-8">
                        <input type="text" id="fotoChofer">
                    </div>
                </div>
                <div class="row row-12">
                    <div class="col-4">
                        <label for="numeroCredencial">Número de Credencial</label>
                    </div>
                    <div class="col-8">
                        <input type="text" id="numeroCredencial">
                    </div>
                </div>
                <div class="row row-13">
                    <div class="col-4">
                        <label for="identidad">Identidad</label>
                    </div>
                    <div class="col-8">
                        <input type="text" id="identidad">
                    </div>
                </div>
                <div class="row row-14">
                    <div class="col-4">
                        <label for="habilitado">Habilitado</label>
                    </div>
                    <div class="col-8">
                        <input type="text" id="habilitado">
                    </div>
                </div>
                <div class="row row-15">
                    <div class="col-4">
                        <label for="entregada">Entregada</label>
                    </div>
                    <div class="col-8">
                        <input type="text" id="entregada">
                    </div>
                </div>
                <div class="row row-16">
                    <div class="col-4">
                        <label for="fechaEntrega">Fecha Entrega</label>
                    </div>
                    <div class="col-8">
                        <input type="text" id="fechaEntrega">
                    </div>
                </div>
                <div class="row row-17">
                    <div class="col-4">
                        <label for="cuentaCorreo">Cuenta Correo</label>
                    </div>
                    <div class="col-8">
                        <input type="text" id="cuentaCorreo">
                    </div>
                </div>
                <div class="row row-18">
                    <div class="col-4">
                        <label for="contrasena">Contraseña</label>
                    </div>
                    <div class="col-8">
                        <input type="text" id="contrasena">
                    </div>
                </div>
                <div class="row row-19">
                    <div class="col-4">
                        <label for="expediente">Expediente</label>
                    </div>
                    <div class="col-8">
                        <input type="text" id="expediente">
                    </div>
                </div>
                -->
                <div class="row row-21">
                    <div class="col-4">

                    </div>
                    <div class="col-8" style="justify-content: right">

                    </div>

                </div>
                <button class="btn btn-primary" type="submit" name="btnCrear" id="btnCrear" value="crear">Crear</button>
                <button class="btn btn-danger">Cancelar</button>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>